.container {
    display: flex;
    background-color: white;
    border: 2px solid gray;
    height: 500px;
    width: 800px;
    margin: 100px;
    position: relative;

}
* {
    padding: 0;
    margin: 0;
}
.top-bar {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 150px;
}
.img_1 {
    height: 100px;
    width: 100px;
    
}
.img_2 {
    height: 20px;
    width: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img_3 {
    height: 20px;
    width: 20px;
    margin-top: 20px;
}
.text {
    position: absolute;
    left: 30px;
    top: 100px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.text_3 {
    position: absolute;
    font-weight: bolder;
    color: blue;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 20px;
}
.text_2 {
    font-weight: bolder;
    color: black;
    font-size: 20px;
}
.text_1 {
    position: absolute;
    color: black;
    font-size: 15px;
    left: 25px;
    top: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}
